/* .App {} */

.main{
  flex-grow: 1;
  background-color: whitesmoke;
  /* create flex container */
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* fitting items for responsiveness */
  flex-wrap: wrap;
  /* how items align */
  justify-content: space-evenly;
  }